{
  "extends": "@singledogswap-libs/eslint-config-singledog",
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "src/setupTests.[jt]s?(x)",
          "src/testHelpers.[jt]s?(x)",
          "**/*.test.[jt]s?(x)",
          "rollup.config.js"
        ]
      }
    ]
  }
}
